@font-face {
    font-family: "Jakarta Sans";
    src: 
        url(../public/assets/fonts/jakarta-sans.woff2) format("woff2"),
        url(../public/assets/fonts/jakarta-sans.ttf) format("truetype");
    font-display: swap;
}

:root {
    font-family: "Jakarta Sans", sans-serif;
    font-size: 16px;
}